## Recap
So far, you have loaded your data and reviewed it with the following code. Run this cell to set up your coding environment where the previous step left off.

In [11]:
# Code you have previously used to load data
import pandas as pd

# Path of the file to read
iowa_file_path = 'train.csv'

home_data = pd.read_csv(iowa_file_path)

# Exercises

## Step 1: Specify Prediction Target
Select the target variable, which corresponds to the sales price. Save this to a new variable called `y`. You'll need to print a list of the columns to find the name of the column you need.

In [12]:
# print the list of columns in the dataset to find the name of the prediction target
home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [14]:
y = home_data.SalePrice

## Step 2: Create X
Now you will create a DataFrame called `X` holding the predictive features.

Since you want only some columns from the original data, you'll first create a list with the names of the columns you want in `X`.

You'll use just the following columns in the list (you can copy and paste the whole list to save some typing, though you'll still need to add quotes):
    * LotArea
    * YearBuilt
    * 1stFlrSF
    * 2ndFlrSF
    * FullBath
    * BedroomAbvGr
    * TotRmsAbvGrd

After you've created that list of features, use it to create the DataFrame that you'll use to fit the model.

In [16]:
# Create the list of features below
feature_names = ['LotArea','YearBuilt', '1stFlrSF','2ndFlrSF', 'FullBath', 'BedroomAbvGr',
                 'TotRmsAbvGrd']

# select data corresponding to features in feature_names
X = home_data[feature_names]

## Review Data
Before building a model, take a quick look at **X** to verify it looks sensible

In [19]:
# Review data
# print description or statistics from X
#print(X)

# print the top few lines
print(X.head())

   LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
0     8450       2003       856       854         2             3
1     9600       1976      1262         0         2             3
2    11250       2001       920       866         2             3
3     9550       1915       961       756         1             3
4    14260       2000      1145      1053         2             4

   TotRmsAbvGrd
0             8
1             6
2             6
3             7
4             9

## Step 3: Specify and Fit Model
Create a `DecisionTreeRegressor` and save it iowa_model. Ensure you've done the relevant import from sklearn to run this command.

Then fit the model you just created using the data in `X` and `y` that you saved above.

In [22]:
from sklearn.tree import DecisionTreeRegressor
#specify the model. 
#For model reproducibility, set a numeric value for random_state when specifying the model
iowa_model = DecisionTreeRegressor(random_state = 2)

# Fit the model
iowa_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=2, splitter='best')

## Step 4: Make Predictions
Make predictions with the model's `predict` command using `X` as the data. Save the results to a variable called `predictions`.

In [24]:
predictions = iowa_model.predict(X)
print(predictions)

predictions2 = iowa_model.predict(X.head())
print(predictions2)
print(home_data.SalePrice.head())

[208500. 181500. 223500. ... 266500. 142125. 147500.]
[208500. 181500. 223500. 140000. 250000.]
0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

## Adding new part from the Model validation module

In [25]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 1)

In [26]:
iowa_model = DecisionTreeRegressor(random_state = 1)

iowa_model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [28]:
val_predictions = iowa_model.predict(val_X)

### Observing my validation data

Let's see the dfference between val_X and val_y

In [30]:
print(val_X)

print(val_y.head())

      LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
258     12435       2001       963       829         2             3
267      8400       1939      1052       720         2             4
288      9819       1967       900         0         1             3
649      1936       1970       630         0         1             1
1233    12160       1959      1188         0         1             3
167     10562       2007      1610       551         1             3
926     11999       2003      1234      1140         2             4
831      3180       2005       520       600         2             2
1237    12393       2004       847      1101         2             4
426     12800       1989      1644         0         2             2
487     12243       1971      1484         0         2             3
375     10020       1922       904         0         0             1
1126     3684       2007      1555         0         2             2
53      50271       1981      1842         0         0             0
1033     8125       2002      1654         0         2             3
1022     9439       1930       912       336         1             2
1215     7094       1966       894         0         1             3
91       8500       1961      1235         0         1             2
1270    23595       1979      1332       192         0             0
680      8012       1980       923         0         2             2
464      8430       1978      1040         0         2             3
1416    11340       1885      1246      1044         2             4
730      5389       1995      1616         0         2             2
994     12456       2006      1718         0         2             3
383      9000       1928       784         0         1             2
992      9760       1964      1020       831         2             3
531      6155       1920       751       611         2             3
742      8450       2000      1349         0         2             3
798     13518       2008      1966      1174         3             4
432      1920       1971       765       600         1             2
...       ...        ...       ...       ...       ...           ...
1003    11500       1976      1680         0         2             4
126      4928       1976       958         0         2             2
1206     8900       1966      1056         0         1             2
718     10542       1993      1325      1093         2             3
1195     8029       2005       728       728         2             3
815     12137       1998      1661         0         2             3
503     15602       1959      1801         0         2             1
935      5825       1926       747         0         1             1
640     12677       2003      1518         0         1             1
90       7200       1950      1040         0         1             2
925     15611       1977      1126         0         2             3
830     11900       1957      1392         0         1             3
262      8471       1977      1212         0         1             3
765     14587       2008      1506         0         2             2
589      9100       1930       779         0         1             2
399      8125       2006      1112       438         2             2
148      7500       2004      1080         0         1             3
336     14157       2005      1922         0         2             3
368      7800       1954      1268         0         1             2
556     14850       1957      1092         0         1             2
78      10778       1968      1768         0         2             4
650      8125       2007       822       843         2             3
880      7024       2005      1090         0         1             2
821      6000       1953       936         0         1             2
35      13418       2004      1132      1320         3             4
1017     5814       1984      1360         0         1             1
534      9056       2004       707       707         2             3
1334     2368       1970       765       600         1             3
1369    10635       2003      1668         0         2             3
628     11606       1969      1040      1040         1             5

      TotRmsAbvGrd
258              7
267              8
288              5
649              3
1233             6
167              8
926             10
831              4
1237             8
426              5
487              7
375              4
1126             7
53               5
1033             6
1022             6
1215             5
91               6
1270             4
680              5
464              5
1416            11
730              5
994              7
383              5
992              7
531              6
742              6
798             11
432              6
...            ...
1003             8
126              5
1206             5
718              9
1195             8
815              6
503              6
935              5
640              6
90               4
925              6
830              6
262              6
765              6
589              4
399              7
148              6
336              8
368              7
556              6
78               8
650              7
880              5
821              4
35               9
1017             4
534              6
1334             7
1369             8
628              9

[365 rows x 7 columns]
258     231500
267     179500
288     122000
649      84500
1233    142000
Name: SalePrice, dtype: int64

# Mean Absolute Error (MAE)

Is the average of the difference of my real value from the predict value

### Prediction Error -> Actual Value - Predicted Value
### Absolute error -> |Prediction Error|
### MAE = Average of All absolute errors

In [34]:
# Getting my MAE

from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_y, val_predictions)

print(val_mae)

29652.931506849316